@{
    ViewData["Title"] = "List";
    Layout = "_Layout";
}

<div class="text-body mt-5 mb-2">
    <h1>Модельный ряд</h1>
</div>
<form method="get">
    <div class="row">
        <div class="form-inline form-group col">
            <label class="control-label">От:
                <input type="number" value="@ViewBag.minPrice" name="minPrice" class="form-control"/>
            </label>
            <label class="control-label">До:
                            <input type="number" value="@ViewBag.maxPrice" name="maxPrice" class="form-control"/>
                        </label>
        </div>
    </div>
    <input type="submit" value="Фильтр" class="btn btn-primary"/>
</form>
<table class="table table-hover">
    <thead>
    <tr>
        <th></th>
        <th>Модель</th>
        <th>Цена</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var x in Model)
    {
        var image_path = "";
        image_path = @"/Images/" + x.IdA + ".png";
            
        <tr>
            <td>
                <a asp-action="ItemDetails" asp-route-id="@x.IdA">
                    <img src="@image_path" alt="Sample Image" width="400px" />
                </a>
            </td>

            <td>@x.Model</td>
            <td>@x.Price</td>
        </tr>
    }
    </tbody>
</table>

