@model IEnumerable<MultiModel>
@{
    decimal? price = 0;
} 
<table class="table">
    <thead>
    <tr>
        <th>Модель</th>
        <th>Цвет</th>
        <th>Комплектация</th>
        <th>Стоимость</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        price = item.Ekzemplyar.IdANavigation.Price;
        <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ekzemplyar.IdANavigation.Model)
        </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ekzemplyar.IdANavigation.Color)
            </td>
                <td>
            <ul>
            @foreach (var itemKomp in item.Ekzemplyar.KomplektaciyaEkzemplyars)
            {
                <li>
                    @Html.DisplayFor(modelItem => itemKomp.Komplektaciya.NameK)
                    @Html.DisplayFor(modelItem => itemKomp.Komplektaciya.Opisanie)
                </li>
                price += itemKomp.Komplektaciya.Price;
            }
            </ul>
                </td>
        <td>
            @Html.DisplayFor(modelItem => price)
        </td>
            <td>
                @if (User.Identity.IsAuthenticated)
                {
                    <a asp-action="Purchase" asp-route-VinKod="@item.Ekzemplyar.VinKod" class="btn-outline-dark">Купить</a>
                    
                }
                else
                {
                    <a asp-action="Login" asp-controller="Account">Купить</a>
                }
            </td>
    </tr>
    }
    </tbody>
</table>
